# .gitattributes file

Workshop-Management-System/*.py linguist-language=Python
Workshop-Management-System/WMS/*.py linguist-language=Python
Workshop-Management-System/Workshop_Management_System/*.py linguist-language=Python

Workshop-Management-System/WMS/templates/*.html linguist-detectable=false
Workshop-Management-System/WMS/static/*.css linguist-detectable=false
Workshop-Management-System/WMS/static/*.js linguist-detectable=false
