<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
    <meta charset="UTF-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >

    <script
      src="https://kit.fontawesome.com/ea6d0ca8d1.js"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="{% static 'css/styl.css'%}?{%now 'U'%}" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900&display=swap" rel="stylesheet">

    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    >
    <title>Workshop Management System</title>
</head>
<body>
    <nav class="sidebar ">
        <header>
            <div class="rectangle-container close"> 
                <div class="image-text">
                    <span class="image">
                        <img src="{% static 'images/logo.png' %}">
                    </span>

                    <div class="text header-text">
                        <span class="name">WORKSHOP</span>
                        <span class="sysname">MANAGEMENT SYSTEM</span>
                    </div>
                </div>
            </div>   
        </header>
        <div class="menu-bar">
            <div class="menu">
                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-home-alt icon' ></i>
                            <span class="text nav-text">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-user icon' ></i>
                            <span class="text nav-text">User</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-buildings icon' ></i>
                            <span class="text nav-text">Workshop</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-message-rounded-dots icon' ></i>
                            <span class="text nav-text">Message</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-cog icon' ></i>
                            <span class="text nav-text">System Config</span>
                        </a>
                    </li>
                    
                </ul>
            </div>

            <div class="bottom-content">
                <li class="">
                  <a href="{% url 'Logout' %}">
                    <i class="bx bx-log-out icon"></i>
                    <span class="text nav-text">Log Out</span>
                  </a>
                </li>
            </div>
        </div>
    </nav>
    <section class="home-section">
        <nav>
            <a href="#">
                <i class='bx bx-menu toggle close'> <span class="dashboard">Dashboard</span></i>
            </a>  
            <div class="search-box">
                <input type="text" placeholder="Search....">
                <i class='bx bx-search-alt-2' ></i>
            </div>
            <div class="profile-details">
              <img class="profile-details" src="{% static 'images/dp.jpg' %}" alt="prof pic" />
              <span class="admin_name">{{ username }}</span>
              <i class="bx bxs-chevron-down"></i>
            </div>
        </nav>
        
        <div class="main-contents">
            <!-- TASK BAR CONTENTS -->
            <div class="task-bar">
              <div class="task1">
                <div class="title">
                  <div class="left">
                    <h4 class="text">LAST TASK</h4>
                  </div>
                  <div class="right">
                    <div class="fst-word">
                      <span class="number01">{{tasks_done}}</span>
                      <span class="status">Done</span>
                    </div>
                    <div class="sec-word">
                      <span class="number02">{{tasks_pending}}</span>
                      <span class="status1">Pending</span>
                    </div>
                  </div>
                </div>
              </div>
    
              <div class="total">
                <h3 class="total-text">
                  {{total_task}} Total,
                  <span class="remaining-words">Pending tasks available</span>
                </h3>
              </div>
              <div class="tasks">
                <div class="task-data">
                  <p class="task-name">Category</p>
                  <p class="task-name">Device</p>
                  <p class="task-name">Task</p>
                  <p class="task-name">Status</p>
                  <p class="task-name">Deadline</p>
                  <p class="task-name">Technician Assigned</p>
                </div>
    
                {% if tasks_paginator %}
                {% for task in tasks_paginator %}
                <div class="task-data">
                  <p class="task-name task-info">{{ task.category }}</p>
                  <p class="task-name task-info">{{ task.device }}</p>
                  <p class="task-name task-info">{{ task.task }}</p>
                  <p class="task-name task-info">{{ task.status }}</p>
                  <p class="task-name task-info">{{ task.deadline }}</p>
                  <p class="task-name task-info">{{ task.technician_assigned|title }}</p>
                </div>
                {% endfor %}
                {% endif %}

                <div class="page-numbers">
                  {% if tasks_paginator.has_previous %}
                  <a href="?page={{ tasks_paginator.previous_page_number }}">Previous</a>
                  {% endif %}
                  {% for num in tasks_paginator.paginator.page_range %}
                  {% if num == tasks_paginator.number %}
                  <span>{{ num }}</span>
                  {% else %}
                  <a href="?page={{ num }}">{{ num }}</a>
                  {% endif %}
                  {% endfor %}
                  {% if tasks_paginator.has_next %}
                  <a href="?page={{ tasks_paginator.next_page_number }}">Next</a>
                  {% endif %}
                </div>
              </div>
            </div>
                    <!-- USER DETAILS TABLE -->
            <div class="user-details-bar-admin">
                <div class="user-details">
                  <div class="title">
                    <div class="left">
                      <span class="text">User Details</span>
                    </div>
                  </div>
                </div>
      
                <div class="total">
                  <h3 class="total-text">
                    {{total_users}} Users,
                    <span class="remaining-words">All Users</span>
                  </h3>
                </div>
                <div class="tasks">
                  <div class="task-data">
                    <p class="task-name">User ID</p>
                    <p class="task-name">Username</p>
                    <p class="task-name">Contact</p>
                    <p class="task-name">Email</p>
                    <p class="task-name">Task on Desk</p>
                    <p class="task-name">Role</p>
                  </div>
      
                  {% for user in users %}
                  <div class="task-data">
                    <p class="task-name task-info">{{user.id}}</p>
                    <p class="task-name task-info">{{user.username|title}}</p>
                    <p class="task-name task-info">{{user.contacts}}</p>
                    <p class="task-name task-info">{{user.email}}</p>
                    <p class="task-name task-info">Nil</p>
                    <p class="task-name task-info">{{user.role}}</p>
                  {% endfor %}
                </div>
              </div>
        </div>
    </section>
    <script src="{% static 'js/Scrpt.js' %}"></script>
</body>